<h1>Sell Your Car</h1>
<form class="" action="/car_list" method="post">
  <label for="make-model">Make and Model</label>
  <input id="make-model" type="text" name="make-model" value="">
  <label for="price">Price</label>
  <input id="price" type="text" name="price" value="">
  <label for="miles">Miles</label>
  <input id="miles" type="text" name="miles" value="">
  <button type="submit" class="btn">Submit</button>

</form>
